{# Brand Partial
# Usage: {% include 'partials/_brand.jinja2' %}

<div class="brand">
  <div class="brand-icon">
    <i data-lucide="bar-chart-3" style="width: 18px; height: 18px;"></i>
  </div>
  UX Analytics
</div>
