{# Theme Toggle Partial
     Usage: {% include 'partials/_theme_toggle.jinja2' %} #}
<button class="theme-toggle" id="themeToggle" onclick="toggleTheme()">
  <i data-lucide="sun" class="theme-icon-sun"></i>
  <i data-lucide="moon" class="theme-icon-moon"></i>
  <span>Toggle Theme</span>
</button>
